
[data-theme="light"] {
	accent-color: #F42222;
	--body-bg-color: linear-gradient(#dadada, #f0f0f0);
	--box-shadow: -3px -3px 4px #ffffff, 3px 3px 4px #cacfd2;
	--box-shadow-hover: 1px -1px 4px #cacfd2, -1px 1px 4px #ffffff;
	--box-shadow-inner: 3px -3px 4px #cacfd2, -3px 3px 4px #ffffff;
	--main-bg-color: #eaecec;
	--main-color: rgb(101, 24, 24);
	
  }
  
  [data-theme="dark"] {
	--accent-color: #42C636;
	--body-bg-color: linear-gradient(#2c3e50, #34495e);
	--box-shadow: -3px -3px 8px #cacfd245, 3px 3px 4px #000000;
	
	--main-bg-color: #384450;
	--main-color: #42C636;
	
  }
  
  * {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
  }
  
  *, *::after, *::before {
	box-sizing: border-box;
	transition: all 0.35s ease;
	
  }
  
  .body {
	align-items: center;
	background: var(--body-bg-color);
	display: flex;
	height: 100vh;
	justify-content: center;
	
  }
  
  .ccc{
	font-size: 80px;
	font-family:Arial, Helvetica, sans-serif;
	color:#6b1818;
	text-shadow: 0 0 px #d8d1d1;
	
  }
  .calculator {
	background-color: var(--main-bg-color);
	border-radius: 1.875em;
	box-shadow: 0 0 30px rgb(65, 41, 41);
	display: grid;
	grid-template-rows: 20px 28% auto;
	height: 630px;
	padding: 15px 10px 10px;
	position: relative;
	width: 450px;
	margin-left: 5%;

	
  }
  
  .keyboard {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 80px);
	height: 100%;
  }
  
  .key {
	align-items: center;
	align-self: center;
	border-radius: 50%;
	background-color: var(--main-bg-color);
	box-shadow: var(--box-shadow);
	color: var(--main-color);
	cursor: pointer;
	display: flex;
	font-size: 22px;
	font-weight: 1000;
	height: 60px;
	justify-content: center;
	justify-self: center;
	width: 80px;
	height: 70px;
	
  }
  
  .key:hover {
	box-shadow: 0 0 15px rgb(34, 33, 33);
	transform: scale(0.96);
	color:rgb(226, 143, 33);
	font-size: 45px;

  }
  
  .key:active {
	box-shadow: var(--box-shadow-inner);
	transform: scale(0.92);
  }
  
  
  .operation {
	font-size: 30px;
	color: var(--main-color);
	margin-top: 10px;
	min-height: 18px;
	
	
  }
  
  .result {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	
  }
  
  .screen {
	display: grid;
	grid-template-rows: 30% 70%;
	padding: 10px 10px 30px;
	position: relative;
	text-align: right;
  }
  
  .screen::after {
	bottom: 15px;
	color: var(--main-color);
	content: '';
	font-size: 50px;
	font-weight: 100;
	left: 10px;
	position: absolute;
  }
  
  
  
  .theme-mode {
	align-items: flex-end;
	display: flex;
  }
  
  .theme-input {
	display: none;
  }
  
  .theme-label {
	background-color: var(--main-bg-color);
	box-shadow: 0 0 15px rgb(109, 107, 107);
	border-radius: 50%;
	cursor: pointer;
    height: 36px;
	padding: 2px;
	position: relative;
	width: 38px;
  }
  
  .theme-label:active {
	box-shadow: var(--box-shadow-inner);
	
  }
  
  .theme-label:hover {
	box-shadow: var(--box-shadow-hover);
	
  }
  
  .theme-input:checked + .theme-label {
	box-shadow: var(--box-shadow);
  }
  
  .theme-input:checked + .theme-label:active {
	box-shadow: var(--box-shadow-inner);
  }
  
  .theme-input:checked + .theme-label:hover {
	box-shadow: var(--box-shadow-hover);
  }
  
  .theme-label svg {
	fill: var(--accent-color);
  }
  
  .theme-label:hover svg {
	transform: scale(0.95);
  }
  
  
  .topbar {
	align-items: center;
	display: flex;
	color: var(--main-color);
	font-size: 18px;
	justify-content: flex-end;
	margin: 0 15px;
	text-shadow: 0 0 2px #7ba5ce;
	color:orange;
	font-size: 20px;
	
  }
  
  .topbar svg {
	fill: var(--main-color);
  }
  
  .total {
	color: var(--accent-color);
	font-size: 45px;
	color: black;

  }
  